* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*********************************** Nav bar *****************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.nav-links a:hover {
  color: #ff8000;
}

.logo {
  height: 150px;
  margin: -50px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

/* Nav links underline hover animation*/

.nav-links a {
  display: inline-block;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff8000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hamburger menu */

/**************************** Hero section *******************************/
.hero {
  position: relative;
  height: 600px;
}

.hero-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slideshow img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-blend-mode: darken;
  background: rgb(0, 0, 0);
}

.hero-slideshow img:first-child {
  opacity: 0.8;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  font-family: Raleway;
  font-weight: bold;
}

/* Type swritter */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}

.tagline-typewriter {
  width: 28.5ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #ffffff;
  animation: cursor 1s step-start infinite, text 2s steps(30) alternate infinite;
}

@keyframes cursor {
  0%,
  100% {
    border-color: #ffffff;
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 28.5ch;
  }
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

/* hero button */
.hero-button {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #ff8000;
  padding: 10px 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
}

.hero-button:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #ff8000e2;
  color: #000000;
  border: none;
  cursor: pointer;
}

/*********************** Featured Destinations ******************************/
#destinations {
  background-color: #f5f5f5;
  padding: 0 10%;
  margin: 10px auto;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.heading-destinations {
  text-align: center;
}

.container-destinations {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.destination {
  height: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.destination:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.destination img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.destination h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.destination p {
  font-size: 16px;
  margin-bottom: 10px;
}

.destination a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8000e2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.destination a:hover {
  background-color: #818181;
  outline: #0056b3;
}

/************************** Popular packages *****************************/
#popular-packages {
  background-color: #f5f5f5;
  padding: 0 10%;
  margin: 10px auto;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.heading-packages {
  text-align: center;
}

.container-packages {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.package {
  height: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.package:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.package img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.package h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.package p {
  font-size: 16px;
  margin-bottom: 10px;
}

.package a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8000e2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.package a:hover {
  background-color: #818181;
  outline: #ff8000e2;
}

/************************ Footer [Copied on every page] *************************/
footer {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: white;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ff8000e2;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
}

.footer-col ul li a:hover {
  color: #ff8000e2;
  padding-left: 10px;
}

.footer-col .footer-socials a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
}

.follow-us h4,
.logo h4,
.newsletter h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.follow-us ul,
.follow-us li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.follow-us li a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #333;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
}

.follow-us li a:hover {
  background-color: #ff8000e2;
}

.logo-footer img {
  max-width: 60px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.logo-footer p {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
}

.newsletter form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 10px;
}

.newsletter button[type="submit"] {
  background-color: #ff8000e2;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.newsletter button[type="submit"]:hover {
  background-color: #333;
}

.footer-bottom {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  margin-top: 50px;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
}

/******************************media queries *************************************/

/* packages home page */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .package {
    width: 100%;
  }
}
